PORT=3000
MONGO_URI=mongodb+srv://fabriciocoronil_db_user:ivan12345@cluster0.wn2zt3b.mongodb.net/patitas_felices?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=clave_secreta_jwt_patitas_felices
